<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">Watch List 🍿</a>
        <div class="navbar-links">
          <%= link_to 'My lists', lists_path, class: 'nav-link' %>
          <%= link_to 'New list', new_list_path, class: 'nav-link' %>
        </div>
      </div>
    </nav>

    <% if request.path == root_path %>
      <div class="home-banner" style="background-image: url('<%= asset_path('felix-mooneeram-evlkOfkQ5rE-unsplash.jpg') %>');">
        <div class="home-banner-content">
          <h1>Save any kind of movies</h1>
        </div>
      </div>
    <% end %>

    <% if request.path == list_path(:id) %>
      <div class="list-banner">
        <div class="list-banner-content">
          <h1><%= @list.name %></h1>
        </div>
      </div>
    <% end %>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
